@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;1,300;1,400&display=swap");
main section {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  margin: 0 2rem 0 2rem; }
  main section .card-header {
    background-color: rgba(112, 128, 144, 0.527);
    width: 100%;
    border-radius: 5px;
    padding: 0.25rem;
    box-shadow: 0px 0px 30px rgba(255, 255, 255, 0.39); }
    main section .card-header h1 {
      text-align: center; }
    main section .card-header .card-body {
      width: 100%;
      text-align: center;
      padding: 0.5rem; }
      main section .card-header .card-body .form > .input-group {
        display: flex;
        width: 100%;
        position: relative; }
        main section .card-header .card-body .form > .input-group .form-control {
          width: 100%;
          padding: 0.5rem;
          outline: none;
          font-family: "Montserrat";
          font-weight: 500;
          border: none; }
        main section .card-header .card-body .form > .input-group .btn {
          position: absolute;
          right: 0;
          height: 100%;
          background-color: aquamarine;
          border: none;
          padding: 0 10px 0 10px;
          color: black;
          font-family: "Montserrat";
          text-transform: uppercase;
          font-weight: 600;
          cursor: pointer;
          transition: 500ms; }
        main section .card-header .card-body .form > .input-group .btn:hover {
          background-color: chartreuse;
          color: #6e55fa; }
  main section .card-task {
    align-items: start;
    text-align: start;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 5px;
    border: solid white 1px;
    margin-top: 1rem; }
    main section .card-task .card-task-header {
      width: 100%;
      display: flex;
      background: #00000050;
      padding: 0.5rem;
      border-radius: 5px;
      justify-content: end; }
      main section .card-task .card-task-header .btn {
        background-color: #ff6060;
        border: none;
        padding: 0.25rem;
        color: white;
        font-family: "Montserrat";
        text-transform: uppercase;
        font-weight: 600;
        cursor: pointer;
        transition: 500ms; }
      main section .card-task .card-task-header .btn:hover {
        background-color: chartreuse;
        color: #2600ff; }
    main section .card-task .task-list .task {
      border-bottom: dashed 2px rgba(255, 255, 255, 0.5);
      border-top: dashed 2px rgba(255, 255, 255, 0.5);
      padding: 0.75rem;
      margin: 0.5rem 0 0.5rem 0;
      margin-bottom: 2rem;
      display: flex;
      justify-content: space-between; }
      main section .card-task .task-list .task:last-child {
        margin-bottom: 0; }
      main section .card-task .task-list .task .form-check {
        display: flex;
        align-items: center; }
        main section .card-task .task-list .task .form-check .form-check-input {
          display: none; }
        main section .card-task .task-list .task .form-check .form-check-label {
          position: relative;
          padding-left: 2rem;
          cursor: pointer;
          font-family: mapg-get((primary: "Montserrat", secondary: "Open Sans"), secondary);
          text-transform: capitalize; }
        main section .card-task .task-list .task .form-check .form-check-label::before {
          content: '';
          display: inline-block;
          position: absolute;
          left: 0;
          right: 0;
          width: 1rem;
          height: 1rem;
          border: 2px solid white;
          border-radius: 5px;
          transition: 500ms; }
        main section .card-task .task-list .task .form-check .form-check-input:checked + .form-check-label::before {
          background-color: chartreuse;
          border-color: chartreuse; }
        main section .card-task .task-list .task .form-check .form-check-input:checked + .form-check-label {
          text-decoration: line-through;
          opacity: 75%; }

.dropdown {
  position: relative;
  display: inline-block; }
  .dropdown .dropdown-content {
    display: none; }
  .dropdown .btn-dropdown-primary {
    background-color: aqua;
    border: none;
    padding: 5px 10px;
    border-radius: 2px;
    cursor: pointer; }

.dropdown:hover .dropdown-content {
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  gap: 7px;
  border-radius: 5px;
  margin-left: 15px; }
  .dropdown:hover .dropdown-content .btn-dropdown-secondary {
    border: none;
    padding: 5px;
    color: white;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer; }
  .dropdown:hover .dropdown-content .btn-dropdown-secondary-delete {
    background-color: #fa2a2a; }
  .dropdown:hover .dropdown-content .btn-dropdown-secondary-rename {
    background-color: #399677; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  height: 100vh;
  background-color: #000;
  user-select: none; }

h1, h2, h3, h4, h5, h6, a {
  font-family: "Montserrat";
  font-weight: 500;
  text-transform: uppercase;
  color: white; }

p, label {
  font-family: "Open Sans";
  color: white; }

ul {
  list-style: none; }
